@{
    ViewData["Title"] = "Home Page";
}

<div class="slogan">
    <span class="linha1">Produção Local</span><br>
    <span class="linha2">Cultivando Sustentabilidade</span>
</div>


<div class="full-width">
     <img src="~/img/plantio.jpg" alt="plantio" />
    <aside class="descricao">
        Na GreeValley, nossa missão é cultivar um
        futuro sustentável, produzindo alimentos frescos e
        nutritivos no coração da cidade.
    </aside>
       
    
</div>